<%- include('partials/header'); %>

<link rel="stylesheet" href ="/stylesheets/projectStyle.css">
</head>
<body>
    
    <div class="index">
        <nav class="navbar navbar-expand-lg nav-menu nav-menu-about">
            <div class="container">
                <button class="navbar-toggler ms-auto bg-dark navbar-dark" type="button" data-toggle="collapse"
                    data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse ms-auto p-2"
                    id="navbarNavAltMarkup">
                    <div class="navbar-nav navbar-right">
                        <li><a class="nav-link" href="/">Home&nbsp;</a></li>
                        <li><a class="nav-link" href="about">About</a></li>
                        <li class="active"><a class="nav-link" href="project">Projects</a></li>
                        <li><a class="nav-link" href="services">Services</a></li>
                        <li><a class="nav-link" href="contact">Contact</a></li>
                    </div>
                </div>
            </div>
        </nav>
    <br><br>
 
<P id="projects">My Projects</P><br>
    

<section id="services" class="services">
    <div class="container">


        <div class="row" style="align-items: center; overflow: -moz-hidden-unscrollable;">


            
                
                    <div class="card mb-3 text-white bg-dark m-0 p-0" style="max-width: 100%; max-height: auto;">

                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/images/project1.png" width="500px" height="auto"
                                    class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        SURVEY SITE
                                    </h5>
                                    <p class="card-text"><i>
                                        This web application offers a survey which includes a comprehensive collection
                                         of questions for providing better results to students.<br>It is made 
                                         using HTML, CSS, BootStrap and Node JS. </i>
                                    </p>
                                    <p class = "links">
                                       
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                

                
                    <div class="card mb-3 text-white bg-dark m-0 p-0" style="max-width: 100%; max-height: auto;">

                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/images/project4.png" width="500px" height="auto"
                                    class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        CATALOG FORM
                                    </h5>
                                    <p class="card-text"><i>
                                        A catalog form built inVisual Studio with C# and .Net Framework to 
                                        manage the catalog forms as per the information entered by user.<br>This is a academic project made
                                        in C# and .Net Framework with Visual Studio.</i>
                                    </p>
                                    <p class = "links">
                                     
                                         <br>
                    
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                
            
                <div class="card mb-3 text-white bg-dark m-0 p-0" style="max-width: 100%; max-height: auto;">

                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/images/project2.png" width="500px" height="auto"
                                class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    FAVBOOKS
                                </h5>
                                <p class="card-text"><i>
                                    This web application helps the user to manage their favourite books list by adding, 
                                    deleting and modifying stuff as per their wish.<br>
                                    It is built using HTML, CSS, Node JS and Bootstrap.

                                    </i>
                                </p>
                                <p class = "links">
                                   
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
           
            </div>

        </div>
        </section>
      <%- include('partials/footer'); %>
</body>
</div>

