
<%- include('partials/header'); %>

<link rel="stylesheet" href ="/stylesheets/servicesStyle.css">
</head>
<body>
    
    <div class="index">
        <nav class="navbar navbar-expand-lg nav-menu nav-menu-about">
            <div class="container">
                <button class="navbar-toggler ms-auto bg-dark navbar-dark" type="button" data-toggle="collapse"
                    data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse ms-auto p-2"
                    id="navbarNavAltMarkup">
                    <div class="navbar-nav navbar-right">
                        <li><a class="nav-link" href="/">Home&nbsp;</a></li>
                        <li><a class="nav-link" href="about">About</a></li>
                        <li><a class="nav-link" href="project">Projects</a></li>
                        <li class="active"><a class="nav-link" href="services">Services</a></li>
                        <li><a class="nav-link" href="contact">Contact</a></li>
                    </div>
                </div>
            </div>
        </nav><br><br>

        

        <P id="projects">-----  SERVICES -----</P>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">~ Software Development</li><br>
            <li class="list-group-item" id="second">~ Database Management</li><br>
            <li class="list-group-item" id="third">~ IT Project Management</li><br>
            <li class="list-group-item" id="fourth">~ Web Development</li><br>
            <li class="list-group-item" id="fifth">~ Security Testing</li>
          </ul>
 

</body>
</div>

<%- include('partials/footer'); %>