/*
Filename- homeStyle.css
StudentName - Manya
StudentId - 301176500
Date - October 1,2021
*/

body {
    content: "";
    position: fixed;
    background: #040404 url("/images/black.jpg") top right no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    width:1250px;
    z-index: -1;
    margin-left: 1.5cm;
    color: aliceblue;
    font-size: 70px;
    line-height: 1;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

h4{
    margin-left: 100px;
    color:coral;
}

a{
    text-decoration: none;
    color: cornsilk;
}
a:hover{
    color: white;
    text-decoration: underline;
}
