/*
Filename- servicesStyle.css
StudentName - Manya
StudentId - 301176500
Date - October 1,2021
*/

body {
    content: "";
    background: #040404 url("/images/black.jpg") top right no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    width:1250px;
    z-index: -1;
    margin-left: 1.5cm;
    color: aliceblue;
    font-size: 70px;
    line-height: 1;
    font-family: "Poppins", sans-serif;
}

#projects{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:tomato;
    text-decoration: italic;
}
.list-group list-group-flush{
    max-width: 10px;
}

.list-group-item{
    color:black;
    font-size: 30px;
    width:400px;
    height: 55px;
    background:linear-gradient( to bottom right, #ffffff 0%, #e9b2af 50%, #e6ccff 75%, #e0b3ff 100%);
    text-decoration-style: double;
    border-color: rgb(23, 23, 240);
    border-radius: 5px ;
}

#second{
    margin-left:180px;
}
#third{
    margin-left:450px;
}
#fourth{
    margin-left:650px;
}
#fifth{
    margin-left:850px;
}
